html,body{
    height: 100%;
    width : 100%;   
}

#home-banner {
    background: url("images/web final-01.png")no-repeat center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
}

.grid {
    display: grid;
    padding:30px;
}

.productgrid {
    display: grid;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.productborder {
    border: 2px solid #ddd;
    border-radius: 2px;
    padding: 10px;
    width: 50px; 
}