html,body{
    height: 100%;
    width : 100%;   
    font-family: 'Nunito Sans', sans-serif !important;

}

#home-banner {
    background: url("images/web final-01.png")no-repeat center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.bannerimage {
    padding-top:170px;
    padding-left:auto;
    padding-right:auto;
    
   
}

.bannercontent {
    
    padding-top:350px;
    padding-left:15px;
    padding-right:15px;
    padding-bottom: auto; 
}

/* ------------------------------------------- */

.exploremar {
   text-align: center;
   padding:20px;

}

.button {
  border-radius: 4px;
   background: linear-gradient(to right, #67b26b, #4ca2cb) !important;
  border: none;
  color: black;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 125px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
/* ----------------------------------------------------------------- */

#wepromise {
background: #f7f7f7;
width:100%;
height:100%;

}

.wepromise {
    padding:16px;
}

.card{

}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
}

.grid {
    display: grid;
    padding:30px;
}

.productgrid {
    display: grid;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.productborder {
    border: 2px solid #ddd;
    border-radius: 2px;
    padding: 10px;
    width: 50px; 
}

#testimonials{
     background: url("images/web\ final-03.png")no-repeat center fixed;
    display: table;
    height: 25%;
    position: relative;
    width: 100%;
    background-size: cover;
}



.person1 img{
    height:100px;
    width:100px;
    border-radius:50px;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}